<div class="social-links">
    <!-- Facebook -->
    {% if site.facebook %}
    <a
        class="link"
        data-title="facebook.com/{{ site.facebook }}"
        href="http://facebook.com/{{ site.facebook }}"
        target="_blank"
    >
        <svg class="icon icon-facebook">
            <use xlink:href="#icon-facebook"></use>
        </svg>
    </a>
    {% endif %}

    <!-- Twitter -->
    {% if site.twitter %}
    <a
        class="link"
        data-title="twitter.com/{{ site.twitter }}"
        href="http://twitter.com/{{ site.twitter }}"
        target="_blank"
    >
        <svg class="icon icon-twitter">
            <use xlink:href="#icon-twitter"></use>
        </svg>
    </a>
    {% endif %}

    <!-- Google -->
    {% if site.google %}
    <a
        class="link"
        data-title="plus.google.com/+{{ site.google }}"
        href="http://plus.google.com/+{{ site.google }}"
        target="_blank"
    >
        <svg class="icon icon-google">
            <use xlink:href="#icon-google"></use>
        </svg>
    </a>
    {% endif %}

    <!-- Instagram -->
    {% if site.instagram %}
    <a
        class="link"
        data-title="instagram.com/{{ site.instagram }}"
        href="http://instagram.com/{{ site.instagram }}"
        target="_blank"
    >
        <svg class="icon icon-instagram">
            <use xlink:href="#icon-instagram"></use>
        </svg>
    </a>
    {% endif %}

    <!-- Pinterest -->
    {% if site.pinterest %}
    <a
        class="link"
        data-title="pinterest.com/{{ site.pinterest }}"
        href="http://pinterest.com/{{ site.pinterest }}"
        target="_blank"
    >
        <svg class="icon icon-pinterest">
            <use xlink:href="#icon-pinterest"></use>
        </svg>
    </a>
    {% endif %}

    <!-- LinkedIn -->
    {% if site.linkedin %}
    <a
        class="link"
        data-title="linkedin.com/in/{{ site.linkedin }}"
        href="http://linkedin.com/in/{{ site.linkedin }}"
        target="_blank"
    >
        <svg class="icon icon-linkedin">
            <use xlink:href="#icon-linkedin"></use>
        </svg>
    </a>
    {% endif %}

    <!-- Youtube -->
    {% if site.youtube %}
    <a
        class="link"
        data-title="youtube.com/{{ site.youtube }}"
        href="http://youtube.com/{{ site.youtube }}"
        target="_blank"
    >
        <svg class="icon icon-youtube">
            <use xlink:href="#icon-youtube"></use>
        </svg>
    </a>
    {% endif %}

    <!-- Spotify -->
    {% if site.spotify %}
    <a
        class="link"
        data-title="open.spotify.com/user/{{ site.spotify }}"
        href="https://open.spotify.com/user/{{ site.spotify }}"
        target="_blank"
    >
        <svg class="icon icon-spotify">
            <use xlink:href="#icon-spotify"></use>
        </svg>
    </a>
    {% endif %}

    <!-- GitHub -->
    {% if site.github %}
    <a
        class="link"
        data-title="github.com/{{ site.github }}"
        href="https://github.com/{{ site.github }}"
        target="_blank"
    >
        <svg class="icon icon-github">
            <use xlink:href="#icon-github"></use>
        </svg>
    </a>
    {% endif %}

    <!-- GitLab -->
    {% if site.gitlab %}
    <a
        class="link"
        data-title="gitlab.com/{{ site.gitlab }}"
        href="https://gitlab.com/{{ site.gitlab }}"
        target="_blank"
    >
        <svg class="icon icon-github">
            <use xlink:href="#icon-gitlab"></use>
        </svg>
    </a>
    {% endif %}

    <!-- Stackoverflow -->
    {% if site.stackoverflow %}
    <a
        class="link"
        data-title="stackoverflow.com/users/{{ site.stackoverflow }}"
        href="http://stackoverflow.com/users/{{ site.stackoverflow }}"
        target="_blank"
    >
        <svg class="icon icon-stackoverflow">
            <use xlink:href="#icon-stackoverflow"></use>
        </svg>
    </a>
    {% endif %}

    <!-- Upwork -->
    {% if site.upwork %}
    <a
        class="link"
        data-title="upwork.com/{{ site.upwork }}"
        href="https://upwork.com/{{ site.upwork }}"
        target="_blank"
    >
        <svg class="icon icon-upwork">
            <use xlink:href="#icon-upwork"></use>
        </svg>
    </a>
    {% endif %}

    <!-- Freelancer -->
    {% if site.freelancer %}
    <a
        class="link"
        data-title="freelancer.com/{{ site.freelancer }}"
        href="https://freelancer.com/{{ site.freelancer }}"
        target="_blank"
    >
        <svg class="icon icon-freelancer">
            <use xlink:href="#icon-freelancer"></use>
        </svg>
    </a>
    {% endif %}

    <!-- Dev Community -->
    {% if site.dev %}
    <a
        class="link"
        data-title="dev.to/{{ site.dev }}"
        href="https://dev.to/{{ site.dev }}"
        target="_blank"
    >
        <svg class="icon icon-dev">
            <use xlink:href="#icon-dev"></use>
        </svg>
    </a>
    {% endif %}

    <!-- Play Store -->
    {% if site.playstore %}
    <a
        class="link"
        data-title="https://play.google.com/store/apps/developer?id={{
            site.playstore
        }}"
        href="https://play.google.com/store/apps/developer?id={{
            site.playstore
        }}"
        target="_blank"
    >
        <svg class="icon icon-playstore">
            <use xlink:href="#icon-playstore"></use>
        </svg>
    </a>
    {% endif %}

    <!-- Quora -->
    {% if site.quora %}
    <a
        class="link"
        data-title="quora.com/profile/{{ site.quora }}"
        href="https://www.quora.com/profile/{{ site.quora }}"
        target="_blank"
    >
        <svg class="icon icon-quora"><use xlink:href="#icon-quora"></use></svg>
    </a>
    {% endif %}

    <!-- Reddit -->
    {% if site.reddit %}
    <a
        class="link"
        data-title="reddit.com/user/{{ site.reddit }}"
        href="https://www.reddit.com/user/{{ site.reddit }}"
        target="_blank"
    >
        <svg class="icon icon-reddit">
            <use xlink:href="#icon-reddit"></use>
        </svg>
    </a>
    {% endif %}

    <!-- Medium -->
    {% if site.medium %}
    <a
        class="link"
        data-title="medium.com/@{{ site.medium }}"
        href="https://medium.com/@{{ site.medium }}"
        target="_blank"
    >
        <svg class="icon icon-medium">
            <use xlink:href="#icon-medium"></use>
        </svg>
    </a>
    {% endif %}

    <!-- Vimeo -->
    {% if site.vimeo %}
    <a
        class="link"
        data-title="vimeo.com/{{ site.vimeo }}"
        href="https://vimeo.com/{{ site.vimeo }}"
        target="_blank"
    >
        <svg class="icon icon-vimeo"><use xlink:href="#icon-vimeo"></use></svg>
    </a>
    {% endif %}

    <!-- Goodreads -->
    {% if site.goodreads %}
    <a
        class="link"
        data-title="goodreads.com/{{ site.goodreads }}"
        href="https://www.goodreads.com/{{ site.goodreads }}"
        target="_blank"
    >
        <svg class="icon icon-goodreads">
            <use xlink:href="#icon-goodreads"></use>
        </svg>
    </a>
    {% endif %}

    <!-- EMail -->
    {% if site.email %}
    <a
        class="link"
        data-title="{{ site.email }}"
        href="mailto:{{ site.email }}"
    >
        <svg class="icon icon-mail"><use xlink:href="#icon-mail"></use></svg>
    </a>
    {% endif %}
</div>
