.highlight 
  pre 
    background-color: #0F1419

  // Comment
  .c
    color: #999999
    font-style: italic

  //Error
  .err
    color: #ff3333
    background-color: #e3d2d2

  // Keyword
  // This line was producing error but the highlighting works fine without it
  //.k
  color: #ff7733
  font-weight: bold

  // Operator
  .o
    color: #f29668

  // Multiline Comment
  .cm
    color: #999999
    font-style: italic

  // Preproc Comment
  .cp
    color: #999999
    font-style: italic

  // Single Line Comment
  .c1
    color: #999999
    font-style: italic

  // Special Comment
  .cs
    color: #999999
    font-style: italic

  // Generic Deleted
  .gd
    color: #d22323 

  .gd .x
    color: #d0d0d0
    background-color: #ffaaaa

  // Generic Emph
  .ge
    color: #d0d0d0
    font-style: italic

  // Generic Remove
  .gr
    color: #d22323 

  // Generic Hightlight
  .gh
    color: #ffffff
    font-weight: bold

  // Generic Inserted
  .gi
    color: #589819 

  .gi .x
    color: #d0d0d0
    background-color: #aaffaa

  .go
    color: #cccccc 

  .gp
    color: #aaaaaa

  // Generic Strong
  .gs
    color: #d0d0d0
    font-weight: bold

  // Generic Underline
  .gu
    color: #ffffff
    text-decoration: underline

  .gt
    color: #d22323

  // Keyword Constant
  .kc
    color: #ff7733
    font-weight: bold

  // Keyword Declaration
  .kd
    color: #ff7733
    font-weight: bold

  // Keyword Namespace
  .kn
    color: #ff7733
    font-weight: bold

  // Keyword Pseudo
  .kp
    color: #ff7733

  // Keyword Reserved
  .kr
    color: #ff7733
    font-weight: bold

  // Keyword Type
  .kt
    color: #ff7733
    font-weight: bold

  // Literal Number
  .m
    color: #ed9d13

  // Literal String
  .s
    color: #ed9d13

  // Name
  .n
    color: #d0d0d0

  // Name Attribute
  .na
    color: #447fcf

  // Name Built-In
  .nb
    color: #447fcf 

  // Name Class
  .nc
    color: #447fcf
    text-decoration: underline

  // Name Constant
  .no
    color: #40ffff 

  // Name Entity
  .ni
    color: #447fcf

  // Name Exception
  .ne
    color: #bbbbbb

  // Name Function
  .nf
    color: #447fcf

  // Name Namespace
  .nn
    color: #447fcf
    text-decoration: underline

  // Name Tag
  .nt
    color: #ff7733
    font-weight: bold

  // Name Variable
  .nv
    color: #40ffff 

  // Operator Word
  .ow
    color: #ff7733
    font-weight: bold

  // Text Whitespace
  .w
    color: #666666 

  // Number Float
  .mf
    color: #3677a9 

  // Number Hex
  .mh
    color: #3677a9 

  // Number Integer
  .mi
    color: #3677a9 

  // Number Oct
  .mo
    color: #3677a9 

  // String Backtick
  .sb
    color: #ed9d13 

  // String Character
  .sc
    color: #ed9d13 

  // String Doc
  .sd
    color: #ed9d13 

  // String Double
  .s2
    color: #ed9d13 

  // String Escape
  .se
    color: #ed9d13 

  // String Heredoc
  .sh
    color: #ed9d13 

  // String Interpol
  .si
    color: #ed9d13 

  // String Other
  .sx
    color: #ffa500 

  // String Regex
  .sr
    color: #ed9d13 

  // String Single
  .s1
    color: #ed9d13 

  // String Symbol
  .ss
    color: #ed9d13 

  // Built-In Pseudo
  .bp
    color: #24909d 

  // Variable Class
  .vc
    color: #40ffff 

  // Variable Global
  .vg
    color: #40ffff

  // Variable Instance
  .vi
    color: #40ffff

  // Number Integer Long
  .il
    color: #3677a9 



  .gc
    color: #999
    background-color: #404040

  .hll
    background-color: #404040

  // Generic
  .g 
    color: #d0d0d0

  // Literal
  .l 
    color: #d0d0d0

  // Punctuation
  .p 
    color: #d0d0d0

  // Literal Date
  .ld 
    color: #ffa500

  // Name Decorator
  .nd
    color: #ffa500

  // Name Label
  .nl
    color: #d0d0d0

  // Name Other
  .nx
    color: #d0d0d0

  // Name Property
  .py
    color: #d0d0d0